streamlit>=1.52.0
pandas>=2.1.0
plotly>=5.0.0
openai>=2.0.0
streamlit-cognito-auth>=1.0.0
requests>=2.31.0
folium>=0.17.0
streamlit-folium>=0.22.0
urllib3>=1.26.0
opensearch-py>=2.4.0
fastapi>=0.115.0
uvicorn>=0.30.0
